body{
    margin: 0;
    padding: 0;
    background: #00a5be;
    font-family: system-ui;
}
.logo{
    margin: 0 auto 2em;
    display: block;
    grid-area: logo;
}
.grid{
    display: grid;
    height: 100vh;
    padding: 4em;
    grid-template-columns: 50px 1fr 1fr 200px;
    grid-template-rows: 312px 120px 1fr 1fr;
    grid-column-gap: 8em;
    grid-template-areas: " asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom learn-more arrow linea-horizontal";
}
.asset.top{
    grid-area: asset-top;
    writing-mode: vertical-lr;
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.social{
    grid-area: social;
    border: 1px solid red;
}
.navigation-name{
    grid-area: name;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    display: flex;
    align-items: center;
    border: 1px solid blue;
    justify-content: center;
}
.navigation-name a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
}
.character-name-container{
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding-inline-start: 1em;
}
    
.navigation{
    
    /* transform-origin: left bottom; */
    writing-mode: vertical-lr; /*Cambiamos el sentido del elemento a vertical*/
    transform:rotate(180deg);
    position: absolute;
    left: 2em;
    height: calc(100vh - 8em);
    text-transform: uppercase;
    bottom: 0;
    text-align: center;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
    display: none;
}
.navigation .text{
    display:inline-flex;
    margin : 35px 0;
}
/* .links{

} */
.dot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    display: inline-flex;
    margin: 10px 0;
}
.line{
    width: 2px;
    height: 150px;
    background: black;
    display: inline-flex;
    margin:15px 0;
}
.wrapper{
    max-width: 1280px;
    margin: auto;
    padding: 0 2em;
}
.character{
    text-align: center;
}
.character-image{
    max-width: 100%;
    border-radius: 50%;
}
.character-name{
    font-size: 30px;
}
.character-labels{
    max-width: 300px;
}
.character-label{
    background: #685128;
    padding: 1em;
    color:white;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    /* display: inline-flex; */
}

@media screen and (min-width:1024px){
    .character-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name avatar" "labels avatar";
    }
    .character-name{
        text-align: left;
        grid-area: name;
    }
    .character-name h2{
        text-align: left;
        font-size: 50px;
        position: relative;
        display: inline-flex;
    }
    .character-name h2:after{
        content: "";
        width:87px;
        height: 6px;
        background: #f7391c;
        display:inline-flex;
        position:absolute;
        top:60%;
        left:calc(100% + 5px);
    }
    .character-image{
        grid-area: avatar;
        width: 300px;
        border-radius: 50%;
    }
    .character-labels{
        grid-area: labels;
        max-width: 300px;
    }
}