body{
    margin: 0;
    /* padding: 0; */
    background: #00a5be;
    font-family: system-ui;
    overflow-x: hidden;
    background-image: url("../img/asset-red.svg");
    background-repeat: no-repeat;
    background-position: top left 240px;
}
.logo{
    margin: 0 auto 2em;
    display: block;
    grid-area: logo;
}
.grid{
    position: relative;
    z-index: 2;
    display: grid;
    height: calc(100vh - 8em);
    padding: 4em;
    grid-column-gap: 8em;
    grid-template-columns: 50px 1fr 1fr 200px;
    grid-template-rows: 230px 100px 1fr 96px 96px;
    grid-template-areas: " asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow linea-horizontal";
}
.character-image-container{
    grid-area: avatar;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-container{
    grid-area: arrow;
    user-select: none;
}
.arrow{
    display: flex;
    height: 100%;
    width: 40px;
    /* border: 1px solid red; */
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    cursor: pointer;
}
.learn-more{
    grid-area: learn-more;
    /* border: 1px solid orange; */
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    text-transform: uppercase;
    background-image: url("../img/learn-more.svg");
    background-repeat: no-repeat;
    background-position: left 170px bottom 5px;
}
.asset{
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}
.asset.top{
    grid-area: asset-top;
    /* border: 1px solid red; */
}
.asset.bottom{
    grid-area: asset-bottom;
    /* border: 1px solid green; */
    justify-content: flex-end;
}
.social{
    grid-area: social;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
}
.social a{
    padding-right: 10px;
    text-decoration: none;
}
.social a:last-child{
    padding-right: 0;
}
.navigation{
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation.name{
    /* border: 1px solid blue; */
    grid-area: name;
}
.navigation.about{
    grid-area: about;
    /* border: 1px solid purple; */
}
.navigation a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
}
.character-name-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-inline-start: 1em;
    grid-area: character-name;
}
.character-description-container{
    grid-area:character-description;
}   
/* writing-mode: vertical-lr; Cambiamos el sentido del elemento a vertical */
/* .navigation{
    transform:rotate(180deg);
    position: absolute;
    left: 2em;
    height: calc(100vh - 8em);
    text-transform: uppercase;
    bottom: 0;
    text-align: center;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
    display: none;
} */
.navigation .text{
    display:inline-flex;
    margin : 35px 0;
}
/* .links{

} */
.dot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    display: inline-flex;
    margin: 10px 0;
}
.line{
    width: 2px;
    height: 150px;
    background: black;
    display: inline-flex;
    /* margin:15px 0; */
    margin-inline: 15px;
}
.wrapper{
    max-width: 1280px;
    margin: auto;
    padding: 0 2em;
}
.character{
    text-align: center;
}
.character-image{
    max-width: 100%;
    border-radius: 50%;
}
.character-name{
    /* grid-area: character-name; */
    font-size: 30px;
    position: relative;
}
.character-name h2:after{
    content: "";
    width:87px;
    height: 6px;
    background: #f7391c;
    display:inline-flex;
    position:absolute;
    top:53%;
    left:calc(100% + 5px);
}
.character-labels{
    max-width: 300px;
}
.character-label{
    background: #685128;
    padding: 1em;
    color:white;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    /* display: inline-flex; */
}

/* @media screen and (min-width:1024px){
    .character-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name avatar" "labels avatar";
    }
    .character-name{
        text-align: left;
        grid-area: name;
    }
    .character-name h2{
        text-align: left;
        font-size: 50px;
        position: relative;
        display: inline-flex;
    }
    .character-name h2:after{
        content: "";
        width:87px;
        height: 6px;
        background: #f7391c;
        display:inline-flex;
        position:absolute;
        top:60%;
        left:calc(100% + 5px);
    }
    .character-image{
        grid-area: avatar;
        width: 300px;
        border-radius: 50%;
    }
    .character-labels{
        grid-area: labels;
        max-width: 300px;
    }
} */
.placeholder-container{
    overflow: hidden;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.character-name-placeholder{
    color: rgba(0, 0, 0, .1);
    font-size: 500px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    white-space:nowrap;
    z-index: 1;
}
/* @media screen and (max-width:1650px){  */
@media screen and (max-width:1640px){ 
   
    .grid{
        column-gap: 2em;
    }
    .learn-more{
        background-size: 100px;
    }
}
@media screen and (max-width:1024px){
    body{
        background-position: top left 70px;
    }
    .character-labels{
        max-width: 100%;
    }
    .grid{
        height: auto;
        padding:2em 0;
        width: calc(100vw - 2em);
        margin: 0 auto;
        column-gap: 1em;
        grid-template-columns: 50px 1fr  1fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: " logo logo logo" "name avatar avatar" "name character-name character-name" "about character-description character-description" "arrow arrow arrow" "social social social";
    }
    .asset{
        display: none;
    }
    .character-name{
        text-align: center;
    }
    .character-name h2:after{
        top: 100%;
        left: 30%;
    }
    .logo{
        max-width: 100%;
    }
    .character-name-container{
        justify-content: center;
        margin-top:1em;
    }
    .learn-more{
        display: none;
        padding-inline-start: 1em;
    }
    .arrow-container{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    .social{
        text-align:center;
        display: block;
        margin-top: 2em;
    }
    .social a{
        margin-left: 2em;
    }
    .social a:first-child{
        margin-left:0;
    }
} 